footer {
  background-color: var(--orange-f);
}
a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}
.footer-dist {
  display: flex;
  padding: 25px 50px 25px;
}
.footer-left {
  flex: 1;
  color: #fff;
  padding: 0 50px;
}
.footer-center {
  flex: 2;
  color: #fff;
}
.logo-footer {
  width: 50%;
}
.footer-center ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-center li {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px;
}
.footer-icons {
  display: flex;
  flex-wrap: nowrap;
}
.footer-icons a {
  list-style-type: none;
  margin: 5px;
  color: #fff;
  padding: 5px 15px 15px 0;
  text-decoration: none;
}
.footer-copyright {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 5px;
}
